*{
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}
html, body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: var(--cor-fundo);
    color: white;

    margin: 0;
    padding: 0;
}
:root {
    /* Cores do modo escuro */
    --cor-fundo: #13131F;
    --cor-fundo2: #151524;
    --cor-destaque: #458FD3;

    /* Cores do modo claro */
    --cor-fundoClaro: #f5f5f5;
}
#menu{
    text-align: center;  
}
li{
    transition: 0.2s;
    display: inline;
    list-style-type: none;
    padding: 7px;
    cursor: pointer;
    border: 1px solid transparent;
}
li:hover{
    transition: 0.2s;
    color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
}
#horarioAtualBtn{
    position: relative;
    right: 50px;
}
#cronometroBtn{
    position: relative;
    left: 10px;
}
#horaAtual{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#hora{
    transition: 0.2s;

    margin: 0;
    padding: 0;
    font-size: 100px;

    cursor: default;
}
#hora:hover{
    color: var(--cor-destaque);
}
#periodo{
    cursor: default;
}

#cronometro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
#horacronometro{
    transition: 0.2s;

    margin: 0;
    padding: 0;
    font-size: 100px;
    cursor: default;

    margin-bottom: 23px;
}
#horacronometro:hover{
    color: var(--cor-destaque);
}
#btnIniciarCronometro{
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px;
    width: 100px;
    margin: auto;
}
#btnIniciarCronometro:hover{
    transition: 0.2s;
    color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
}

@media screen and (max-width: 600px){
    #hora{
        transition: 0.2s;
        font-size: 70px;
    }
    #horacronometro{
        transition: 0.2s;
        font-size: 70px;
        margin-bottom: 20px;
    }
}